<h5 class="card-title p-3">Ingresa tus credenciales</h5>
<form [formGroup]="loginForm" (ngSubmit)="getLogin()">
    <div class="row mb-3">
        <div class="input-group">
            <div class="input-group-text">
                <i class="bi bi-person"></i>
            </div>
            <input type="text" class="form-control" formControlName="username" placeholder="Username" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="input-group">
            <div class="input-group-text">
                <i class="bi bi-three-dots"></i>
            </div>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-3">
        Siguiente
        <i class="bi bi-arrow-right-circle"></i>
    </button>
</form>
<h6 class="card-text text-body-secondary">| CAMBIAR CONTRASEÑA |</h6>