<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary border-bottom shadow-sm">
    <div class="container-md">
        <a class="navbar-brand" routerLink="/authIn">
            <div class="logo-container">
                <img src="https://www.rom.com.pe/themes/rom-tailwind/img/logo_rom.png" alt="Logo" class="img-fluid"
                    style="max-height: 50px" />
            </div>
        </a>
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item m-2">
                    <button type="button" class="btn btn-primary" routerLink="incentives">Incentivos</button>
                </li>
                <li class="nav-item m-2">
                    <button type="button" class="btn btn-primary" routerLink="awards">Artefactos</button>
                </li>
            </ul>
        </div>
        <div class="m-2">
            <button class="btn btn-custom" (click)="cerrarSesion()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</nav>

<div class="card m-4">
    <router-outlet></router-outlet>
</div>