<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<div>

    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <img src="assets/img/Rom/ROM_sobre azul.png" class="img-fluid" style="max-height: 30px;padding-left: 50px;">
        </div>
    </nav>

    <div class="row p-3">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>