<div class="col-12 px-3">
    <div class="container-fluid mt-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold"><a href="" class="text-decoration-none">Planificacion de
                        Horarios</a></li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Listar</li>
            </ol>
        </nav>
    </div>
    <div class="card border-dark">
        <div class="card-body">

            <h5 class="card-title text-uppercase">Planificacion de horarios</h5>
            <div class="row justify-content-md-start">
                <div class="col-sm-3 mt-1">
                    <label for="input1" class="form-label">Tipo</label>
                    <select class="form-select" id="input1" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-sm-3 mt-1">
                    <label for="input2" class="form-label">Filtro</label>
                    <input type="text" id="input2" class="form-control" aria-describedby="passwordHelpBlock">
                </div>
                <div class="col-sm-3 mt-1">
                    <label for="input3" class="form-label">Filtro Tres</label>
                    <select class="form-select" id="input3" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-sm-3 mt-1">
                    <label for="input4" class="form-label">Filtro Cuatro</label>
                    <select class="form-select" id="input4" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-md-start mt-3">
                <div class="col-sm-2 m-1" style="min-width: 150px;">
                    <button class="btn btn-primary" style="width: 100%;" type="button">Nuevo</button>
                </div>
                <div class="col-sm-2 m-1" style="min-width: 150px;">
                    <button class="btn btn-danger" style="width: 100%;" type="button">Buscar</button>
                </div>
            </div>

            <div class="table-responsive-lg mt-4">
                <table class="table table-dark table-hover table-bordered table-sm rounded-2">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                            <td>fat</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>twitter</td>
                            <td>twitter</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>